<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My History</title>
  <link rel="stylesheet" href="/css/menuStyle.css"/>
  <link rel="stylesheet" href="/css/p2p-style.css"/>

</head>
<body>
<main>
  <div class="big-wrapper light">
    <img th:src="@{/img/shape.png}" alt="" class="shape" />

    <header>
      <div class="container">
        <div class="logo">
          <img th:src="@{/img/logo.png}" alt="Logo" />
          <h1 style="color: #ff7d00">SHAFTOLI</h1>
        </div>

        <div class="links">
          <ul>
            <li><a th:href="@{/card/manage-cards/{userId}(userId=${userId})}"><h3>MANAGE CARDS</h3></a></li>
            <li><a th:href="@{/transaction/peyment/{userId}(userId=${userId})}"><h3>PAYMENT</h3></a></li>
            <li><a th:href="@{/transaction/p2p/{userId}(userId=${userId})}"><h3>P2P</h3></a></li>
          </ul>
        </div>

        <div class="overlay"></div>

        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </header>

    <div class="showcase-area">
      <div class="container">
        <div class="table-showcase">
          <table class="content-table">
            <thead>
            <tr>
              <th>SENDER</th>
              <th>RECEIVER</th>
              <th>AMOUNT</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="transaction: ${trList}" class="active-row">
              <td th:text="${transaction.senderCardNum}"></td>
              <td th:text="${transaction.receiverCardNum}"></td>
              <td th:text="${transaction.balance}"></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="bottom-area">
      <div class="container">
        <button class="toggle-btn">
          <i class="far fa-moon"></i>
          <i class="far fa-sun"></i>
        </button>
      </div>
    </div>
  </div>
</main>

<!-- JavaScript Files -->

<script th:src="@{https://kit.fontawesome.com/a81368914c.js}"></script>
<script th:src="@{/js/app2.js}"></script>
</body>
</html>